<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>Instituição de ensino</mat-label>
    <mat-select name="idEscola" formControlName="idEscola">
      <mat-option  *ngFor="let escola of listaEscolas" value="{{ escola.id }}">{{
        escola.nome
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Turma</mat-label>
    <input
      matInput
      placeholder="Ex: A, B, C, etc."
      name="nome"
      formControlName="nome"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Série</mat-label>
    <input
      matInput
      placeholder="Ex: 1°, 2°, 3°, etc."
      name="serie"
      formControlName="serie"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Grau</mat-label>
    <input
      matInput
      placeholder="Ex: Ensino Fundamental."
      name="grau"
      formControlName="grau"
    />
  </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="handleCreate()">
  Salvar
</button>
<button mat-raised-button (click)="handleCancelCreate()">Cancelar</button>
