<form [formGroup]="formGroup">
  <mat-form-field appearance="outline">
    <mat-label>Nome da instituição</mat-label>
    <input
      matInput
      placeholder="Ex: Centro educacional 03"
      name="nome"
      formControlName="nome"
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Endereço</mat-label>
    <textarea
      matInput
      placeholder="Ex: Qi, Area Especial - Lago Sul"
      name="endereco"
      formControlName="endereco"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Telefone</mat-label>
    <input
      matInput
      placeholder="Ex: (61) 3901-2635"
      name="telefone"
      formControlName="telefone"
    />
  </mat-form-field>
</form>

<button mat-raised-button color="primary" (click)="handleUpdate()">
  Salvar
</button>
<button mat-raised-button (click)="handleCancelUpdate()">Cancelar</button>
